.contItemDetail {
    display: flex;
    flex-direction: column;
    
}

.itemDetail{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.img{
    max-width: 400px;
}

.inf{
    align-items: center;
    justify-content:space-between; 
    margin: 50px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.inf p {
    text-align: center;
}

.btnAtras {
    margin-top: 70px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

.info{
    margin-left: 80px;
    margin-top: 180px;
    text-align: center;
    
}
