.contItemDetail{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.img{
    max-width: 400px;
}

.inf{
    align-items: center;
    justify-content:space-around; 
    margin: 50px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.inf p {
    text-align: center;
}
