.count{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.botRestaM{
    color: rgb(219, 68, 68);
}

.botRestaMa{
    color:rgb(69, 199, 199);
}

.btnColor{
    background-color:rgb(69, 199, 199);
    color: whitesmoke;
    font-weight: 800;
}